#intro {
  height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bg {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
}

.introContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hello {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(135, 31, 233);
}

.introText {
  font-size: 2rem;
}
.socialIcons {
  display: flex;
  justify-content: space-around; /* Distribui os ícones igualmente */
  margin-top: 20px; /* Adiciona um espaçamento acima dos ícones */
}

.socialIcons a {
  color: rgb(135, 31, 233); /* Define a cor roxa para todos os ícones */
  font-size: 24px; /* Define o tamanho dos ícones */
  margin: 0 10px; /* Adiciona espaçamento horizontal entre os ícones */
}

.socialIcons a:hover {
  color: rgb(160, 83, 231);
}

@media screen and (max-width: 840px) {
  .bg {
    width: 15rem;
  }

  .hello {
    font-size: 2rem;
  }

  .introText {
    font-size: 1.5rem;
  }
}
