.footer {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons a {
  margin-top: 2rem;
  font-size: 2.5rem;
}

@media screen and (max-width: 840px) {
  .socialIcons a {
    font-size: 1.5rem;
  }
}
